#wrapper {
 margin: 1em auto;
  padding: 0;
  width: 1200px;
  background-color: beige;
  display: grid;
grid-template-columns: repeat(12, 1fr);
 }
 
 body{
  background-color:beige;
 }
 header {
  grid-column: span 12;
  background-color: #38893d;
 color: beige;
 text-align: center;
 padding: 30px;
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
}
nav{
  grid-column: span 12;
  display: grid;
  gap: 10px
}
 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
    display: inline-block;
   width: 395px;
}
nav a { 
   display:flex;
  text-align: center;
  background-color:#38893d;
  padding: 15px;
  color: beige;
  text-decoration: none;
  font-family: 'Titan One', cursive;
  font-size: 1.5em;
  border: 10px solid beige;
}
nav a:hover {
  background-color: #2e6b2f;
  text-emphasis-color: white;
}
main {
  grid-column: span 12;

}
main a {
  color: #38893d;
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-size: 150px;
}
main a:hover {
  color: #2e6b2f;
}
main h2 {
  font-family: 'Caveat', cursive; 
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}
main {
  font-family: 'Caveat', cursive;
  font-size: 108px;
  color: #38893d;
  background-color: rgb(187, 245, 166);
  border: beige solid 8px;
}
.right {
  float: right;
}
section {
  grid-column: span 12;
  display: grid;
  background-color: #38893d;
  border: 0px solid beige;
}
footer {
  grid-column: span 12;
  background-color: #38893d;
  color: beige;
  text-align: center;
  padding: 20px;
}
header a {
  color: beige;
  text-decoration: none;
}
div.music {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1 {
background-image: linear-gradient(to bottom, #93ffa6, #ddd496, #8affa0, #5bd66d, #00570a);                       /* gradient */
  color: transparent;           /* makes text transparent */
  background-color: rgb(85, 255, 76);       /* fallback color if gradient breaks */
  background-clip: text;        /* clips the background with the text */
  background-attachment: fixed;
}