h1{
    color: rgb(255, 1, 1);
    background-color: bisque;
}
h2{
    color: white;
    background-color: rgb(93, 0, 0);
}
.turnyellow{
    color: yellow;
    background-color: black;
}
#allowed{
    color: pink;
}
a:link{
color: #ff0055;
}

a:active{
    color: #ff0055;
}
a:hover{
    color: rgb(255, 255, 141);
}
a:visted{
    color: rgb(47, 255, 99);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.center-paragraph {
  text-align: center; /* Centers the text inside the <p> element */
}
.justified-text {
    text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}
img {
    box-shadow: 0 0 0 10px yellow,
                0 0 0 20px black; 
    margin: 20px; 
}
body {
  background-image: url("background.jpg");
}

